.qt_for_python
.pytest_cache
.vscode
.git-rewrite
PandasGUI/.eggs
PandasGUI/.github
PandasGUI/pandasgui.egg-info
content_engineer_studio/.eggs
content_engineer_studio/ContentEngineerStudio.egg-info
content_engineer_studio/.editorconfig
content_engineer_studio/ContentEngineerStudio/utils/chromedriver.exe
content_engineer_studio/content_engineer_studio.egg-info
*_pycache__
